<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">{{ site.title | escape }}</li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
    
    <div class="footer-bottom">
      &copy; {{ site.time | date: '%Y' }} {{ site.title | escape }}. All rights reserved. 
      <a href="{{ '/sitemap.xml' | absolute_url }}">Sitemap</a> | 
      <a href="{{ '/feed.xml' | absolute_url }}">RSS Feed</a>
       <a href="https://sanmaojichan.github.io" title="三毛机场">三毛机场</a>
        <a href="https://sanmaojichan.github.io" title="三毛机场官网地址">三毛机场官网地址</a>
        <a href="https://sanmaojichan.github.io" title="三毛机场官网入口">三毛机场官网入口</a>
        <a href="https://clashtorwindows.github.io" title="shadowrockets windows">shadowrockets windows</a>     
        <a href="https://clashtorwindows.github.io" title="小火箭节点">小火箭节点</a>
        <a href="https://clashtorwindows.github.io" title="小火箭windows版">小火箭windows版</a>
        <a href="https://clash-for-android.github.io/" title="clash for android">clash for android</a>
        <a href="https://clash-for-android.github.io/" title="飞机场节点">飞机场节点</a>
        <a href="https://clash-for-android.github.io/" title="节点推荐">节点推荐</a>
    </div>
  </div>
</footer>
