<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.layout == "post" %}
    <title>{{ page.title }}</title>
    {%- seo title=false -%}
  {% else %}
    {%- seo -%}
  {% endif %}

  <!-- Canonical URL -->
  <link rel="canonical" href="{{ page.url | replace:"index.html","" | absolute_url }}">

  <!-- TDK (Title, Description, Keywords) Additional Support -->
  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords | join: ", " }}">
  {% elsif site.keywords %}
  <meta name="keywords" content="{{ site.keywords | join: ", " }}">
  {% endif %}

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="{% if page.layout == "post" %}article{% else %}website{% endif %}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ page.excerpt | default: page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 }}">
  <meta property="og:image" content="{{ page.image | default: site.logo | absolute_url }}">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="{{ page.url | absolute_url }}">
  <meta name="twitter:title" content="{{ page.title | default: site.title }}">
  <meta name="twitter:description" content="{{ page.excerpt | default: page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 }}">
  <meta name="twitter:image" content="{{ page.image | default: site.logo | absolute_url }}">

  <!-- Structured Data JSON-LD for NewsArticle -->
  {% if page.layout == "post" %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "headline": "{{ page.title | escape }}",
    "image": ["{{ page.image | default: site.logo | absolute_url }}"],
    "datePublished": "{{ page.date | date_to_xmlschema }}",
    "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
    "author": [{
        "@type": "Person",
        "name": "{{ page.author | default: site.author }}",
        "url": "{{ site.url }}"
      }],
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.title }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.logo | absolute_url }}"
      }
    },
    "description": "{{ page.excerpt | default: page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 }}"
  }
  </script>
  {% endif %}
  <div id="popupOverlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); display: flex; align-items: center; justify-content: center; z-index: 999;">
      <div style="background: #fff; padding: 20px 30px; border-radius: 12px; max-width: 100%; width: 370px; text-align: center; position: relative; box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);">
   <a href="https://yawtt.net/register?code=PCC6A3bC"> <p style="margin: 0 0 10px; font-size: 26px; color: red;">免费试用机场</p>
 <button onclick="closePopup()" style="
        position: absolute;
        top: -15px;
        right: -15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #f44336;
        border: none;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        transition: background 0.3s;
      " onmouseover="this.style.background='#d32f2f'" onmouseout="this.style.background='#f44336'">×</button>     
     
      <img src="https://xhjjiedian.com/wp-content/uploads/2025/09/2025091511003119.png" alt="机场地址" style="width: 300px; height: 290px; display: block; margin: 0 auto 15px;" /></a>
    </div>
  
  <!-- Styles -->
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {%- feed_meta -%}
</head>
